.banner {
    background: var(--black-opacity);
    color: var(--white);
    text-align: center;
    padding: 2.5em 2em;
    margin: 1%;
}

.banner__titulo {
    font-size: 40px;
    font-weight: 800;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

#banner__2 {
    margin: 0.1% 0 0.1% 0;
}