.menu-hamburguer {
    width: 30px;
    height: 30px;
    background-image: url("/img/hamburgue.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 430%;
    top: 110%;
    left: 10px;
    background: var(--black);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.container__botao:checked ~ .lista-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--purple);
    font-weight: 800;
    font-size: 25px;
}

.lista-menu__link {
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;  
    font-weight: 700;
}