@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");
@import url("./header.css");
@import url("./banner.css");
@import url("./carrosel.css");
@import url("./footer.css");

:root {
  --font: "Montserrat Alternates", sans-serif;
  --black: #000;
  --black-opacity: rgba(0, 0, 0, 0.6);
  --white: #fff;
  --purple: rgb(111, 0, 128);
}

body {
  font-family: var(--font);
  background-color: var(--purple);
  padding-top: 80px;
}

a {
  text-decoration: none;
}