@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");
@import url("./css/header.css");
@import url("./css/banner.css");
@import url("./css/carrosel.css");

:root {
  --font: "Montserrat Alternates", sans-serif;
  --black: #000;
  --black-opacity: rgba(0, 0, 0, 0.6);
  --white: #fff;
  --purple: rgb(111, 0, 128);
}

body {
  font-family: var(--font);
  background-color: var(--purple);
  padding-top: 80px;
}

.nav__social-link {
  color: var(--white);
  text-decoration: none;
}

.icon {
  align-items: center;
  font-size: 20px; 
  padding: 0.1em;
}